resume {
  background: #fff;
  color: #625a3e;
  display: block;
  position: relative;
}
i {
  padding-bottom: 0px;
}
body {
  background-color: #fff;
}
resume * {
  background-color: transparent;
  color: #625a3e;
  color: inherit;
}
resume-section {
  margin-bottom: 8px;
  display: block;
}
resume .o-title {
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 110%;
  font-weight: bold;
  color: #ff851e;
  text-transform: uppercase;
}
resume .o-description,
resume .o-description pre {
  color: #000000;
  padding: 6px;
}
resume .o-label {
  background-color: #fbf8be;
  color: #514b35;
  border: 1px solid #e4e1aa;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-left: 3px;
  margin-bottom: 2px;
  white-space: nowrap;
  font-size: 75%;
  font-weight: 500;
}
.o-short-description {
  margin-left: 8px;
  flex-direction: column;
  display: flex;
  align-content: center;
  line-height: 160%;
  text-transform: none;
}
.o-next-page {
  display: block;
  page-break-after: always;
  page-break-inside: auto;
}
.o-resume-image {
  width: 66%;
  align-self: center;
}
.o-resume-image img {
  width: 100%;
}
.o-lable-table {
  display: table;
}
.o-label-row {
  display: table-row;
}
.o-labels-caption {
  display: table-cell;
  font-size: 80%;
}
.o-labels-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.o-labels-list {
  display: table-cell;
}
.o-status-labels {
  display: flex;
  flex-flow: row;
}
.o-resume-content {
  display: flex;
  flex-flow: column;
  background-color: #fff;
  justify-content: space-between;
}
.o-resume-content-main {
  display: flex;
  flex-flow: row;
  background-color: #fff;
}
.o-resume-left {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 25%;
  background-color: #f8f3d7;
  padding-left: 12px;
  padding-top: 15px;
  padding-right: 8px;
}
.o-resume-right {
  display: flex;
  padding-left: 10px;
  flex-flow: column;
  flex-grow: 3;
  flex-shrink: 3;
  flex-basis: 75%;
  min-height: 297mm;
  height: calc(100%);
}
.o-resume-name {
  padding-top: 10px;
  font-size: 240%;
  font-family: "Oswald";
  font-weight: bold;
  align-self: center;
}
.o-current-title {
  text-transform: uppercase;
  font-size: 130%;
  margin-top: 10px;
  margin-bottom: 10px;
  align-self: center;
}
.o-personal-info {
  margin-top: 10px;
  line-height: 100%;
}
.o-pesonal-info-table {
  display: table;
}
.o-personal-info-row {
  display: table-row;
}
.o-personal-info-cell {
  display: table-cell;
}
.o-personal-info-cell.o-caption {
  text-align: left;
  padding-right: 5px;
  padding-bottom: 8px;
}
.o-profile {
  margin-top: 10px;
  display: flex;
  flex-flow: column;
}
.o-profile-title {
  text-transform: uppercase;
  font-size: 150%;
  font-weight: bold;
  font-family: roboto;
  padding-bottom: 10px;
  padding-top: 10px;
}
.o-profile-info {
  font-size: 110%;
  line-height: 110%;
}
.o-education {
  margin-top: 10px;
  display: flex;
  flex-flow: column;
}
.o-project-body {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
}
.o-project-left {
  flex-basis: 55%;
  max-width: 55%;
  flex-grow: 55;
  flex-shrink: 55;
}
.o-project-right {
  flex-basis: 45%;
  max-width: 45%;
  flex-grow: 45;
  flex-shrink: 45;
}
.o-education-title {
  text-transform: uppercase;
  font-size: 150%;
  font-weight: bold;
  font-family: roboto;
  padding-bottom: 10px;
  padding-top: 10px;
}
.o-education-info {
  font-size: 110%;
  line-height: 110%;
}
.o-experience {
  margin-right: 5px;
}
.o-experiences-title {
  padding-top: 10px;
  padding-bottom: 0px;
  font-size: 150%;
  color: #625a3e;
}
.o-experience-header {
  display: flex;
  flex-flow: row;
  padding-top: 15px;
  padding-bottom: 7px;
  font-size: 110%;
  color: #81a42a;
  text-transform: uppercase;
}
.o-experience-begin {
  margin-right: 3px;
}
.o-experience-end {
  margin-right: 8px;
  margin-left: 3px;
  min-width: 35px;
}
.o-experience-role {
  padding-left: 10px;
  line-height: 120%;
  font-size: 95%;
}
.o-resume-page {
  min-height: 297mm;
  height: 297mm;
  position: relative;
}
.o-project-history {
  background-color: #fff;
  padding-left: 20px;
  padding-top: 5px;
}
.o-project-history-title {
  padding-top: 12px;
  padding-bottom: 5px;
  font-size: 150%;
  color: #625a3e;
  text-transform: uppercase;
}
.o-experience i,
.o-story-line i {
  color: #ffe555;
  font-size: 80%;
}
.o-skills {
  margin-top: 5px;
}
.o-skills-header {
  font-weight: bold;
  font-size: 150%;
  font-family: roboto;
  padding-bottom: 10px;
  padding-top: 10px;
  text-transform: uppercase;
}
.o-skills-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: calc(100%);
}
.o-skills .o-skill {
  text-transform: uppercase;
  font-family: "open sans", sans-serif;
  font-weight: 700;
  line-height: 130%;
  margin-top: 3px;
  color: #403b2b;
  font-size: 75%;
  display: flex;
  flex-direction: row;
}
.o-skill-label {
  background-color: #e4e1aa;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 6px;
  margin-left: 4px;
  display: inline-block;
}
.o-skill-label.o-top-0 {
  font-weight: bold;
  font-size: 95%;
}
.o-skill-label.o-top-1 {
  font-size: 85%;
  font-weight: normal;
}
.o-skill-label.o-top-3 {
  font-size: 70%;
  font-weight: normal;
}
.o-skill-count {
  width: 24px;
  text-align: center;
  border-radius: 12px;
  padding-top: 3px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.o-profile-line {
  font-family: "Roboto";
  flex-flow: row;
  display: flex;
  align-content: center;
  font-size: 90%;
}
.o-profile-status {
  margin-bottom: 5px;
}
.o-profile-status-title {
  margin-bottom: 5px;
  font-family: "roboto";
  font-weight: bold;
  font-size: 95%;
  text-transform: uppercase;
}
.o-profile-line i {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 70%;
  padding-top: 5px;
  color: #ffd800;
}
.o-profile-line-sub {
  font-family: "Roboto Condensed";
  flex-flow: row;
  display: flex;
  font-size: 85%;
  padding-top: 3px;
}
.o-profile-line-sug i {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 70%;
  padding-top: 3px;
  color: #ffe555;
}
.o-resume-project-header {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-bottom: 3px;
}
.o-experience-body {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.o-experience-line {
  display: flex;
  flex-flow: column;
}
.o-project-descripton-line i {
  color: gainsboro;
  font-size: 80%;
}
.o-indent-1 {
  padding-left: 14px;
}
.o-story-line {
  padding-left: 15px;
  font-family: 'Roboto';
  display: flex;
  max-width: 95%;
  font-size: 90%;
}
.o-story-line i {
  margin-top: 5px;
  padding-right: 5px;
}
.o-education-info {
  font-size: 95%;
}
.o-page-break {
  page-break-after: always;
}
.o-stamp {
  content: "director's resume generator v0.2";
  font-size: 60%;
  position: absolute;
  width: 400px;
  bottom: 10px;
  right: 12px;
  height: 10px;
  line-height: 10px;
  display: block;
  padding-right: 10px;
  text-align: right;
  justify-content: flex-end;
}
.o-statuses {
  display: flex;
  flex-flow: row;
}
.o-statuses .o-label {
  padding-top: 2px;
}
@media print {
  .o-page-break {
    page-break-after: always;
    break-after: always;
    page-break-before: always;
    float: none;
  }
  .o-menu {
    display: none;
  }
  body {
    background-color: white !important;
  }
}